body{
    padding: 10px 50px;
}
.form-group{
    font-size: 25px;
    margin: 5px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}
.gray{
    color: gray;
}
input.button{
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 20px;
}